# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Segredos e Credenciais
*.pem
*.key
*.json
credentials
.env

# Sistema Operacional / Mac
.DS_Store